<footer>
   <div id="footer_container">
        <nav id="footer_nav">
            
                

            
        </nav>
        
        <div id="footer_logo">

        </div>
        <div id="Footer_rights">
            <p>Tabloid Hamburgueria 2025 - Todos os direitos reservados - Desenvolvido por Gabriel Araujo e Douglas Duarte</p>
        </div>










   </div>
</footer>