body {

    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 1400px;
    border: 1px solid rgb(5, 5, 5);
    margin: 0 auto;
    background-image: url(./imagens/img/pexels-elina-araja-1743227-3377405\ 1.png);

    
}

header {

    width: 100%;
    height: 100px;
    background-color: #23282B;
    margin:  auto;
    font-family: "poppins", sans-serif;
}

#header_banner{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100px;
}


#header_logo {

    display: flex;
    width: 200px;
    height: 100px;
    align-items: center;
    padding-left: 20px;
    
}


#header_logo img {

    width: 100%;
    height: 100%;
    object-fit: contain;
    
}

#header_logo_subtittle {
    
    padding-top: 22px;
    font-size: 14px;
    font-weight: 250;
    line-height: 100%;
    color: #ffffff;
}

#header_login {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 10px;
    gap: 2px;
}

#header_login_btn {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 40px;
    color: white;
    background-color: #DD7B02;
    border-radius: 13px;
    border: 0px;
    font-size: 18px;
    cursor: pointer;
}

#header_login_subtittle {
    font-size: 10px;
    text-decoration: none;
    color: white; 
}

#nav_menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background-color: #DD7B02;
    align-items: center;
}

#nav_menu_icon, #nav_menu_cart {
    padding: 25px;
}

