<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<%- include('../partials/header') %>

            <main>
                <div id="content_banner">
                    <img src="/imagens/img/foto1-burguer.png" alt="banner_burguer" id="content_banner_img">
                </div>
            </main>
            <script src="/js/main.js"> </script>

        <%- include('../partials/footer') %>
        
</html>