<!DOCTYPE html>
<html lang="en">

<%= include('../partials/head') %>  <!-- Inclui o head.ejs -->

<body>

    <%= include ../partials/header %>

    <content>
        <div id="content_banner">
            <img src="/public/imagens/img/foto1-burguer.png" alt="banner_burguer" id="content_banner_img">
        </div>    
    </content>






































    <link rel="stylesheet" href="./main.js">
</body>

</html>