<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>


    <main>
        <div id="container-auth">
            <div id="container-left">
                <img src="imagens/img/foto-lado.png" alt="Foto do espaço da lancheria" id="container-left-img" />
                <img src="imagens/img/logo.png" alt="Logo Tabloid" id="container-auth-logoOverlay">
            </div>

            <div id="container-right">
                <div id="container-login-form">
                    <h2 id="login-form-h2">Sentimos sua falta...</h2>
                    <p>Faça login:</p>
                    <form>
                        <label for="cpf">CPF ou E-mail:</label>
                        <input type="text" id="cpf" name="cpf" />

                        <label for="senha">Senha:</label>
                        <input type="password" id="senha" name="senha" />

                        <button type="submit">Login</button>
                        <p class="register-link">Não é cadastrado? <a href="#">Cadastre-se.</a></p>
                    </form>
                </div>
                <img src="imagens/img/logo.png" alt="Logo Tabloid" id="container-auth-logoOverlay">
            </div>
        </div>
    </main>
    <script src="/js/main.js"> </script>

    <%- include('../partials/footer') %>

</html>